@import "variables";
.wp-caption-text,
.gallery-caption,
.bypostauthor,
.wp-caption {
  max-width: 100%;
}

img.aligncenter {
  margin-left: auto;
  margin-right: auto !important;
  display: block;
  clear: both;
  margin-top: 5px;
  width: auto !important;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

img.alignleft {
  margin: 0 40px 20px 0;
  float: left;
  width: auto !important;
}

.alignleft {
  margin: 5px 10px 20px 0;
  float: left;
}

img.alignright {
  margin: 5px 0 20px 20px;
  float: right;
  width: auto !important;
}

.sticky .post {
  padding: 20px;
  background: #eee;
}

#main_content .sticky .post h2 {
  font-weight: bold;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

pre,
img {
  max-width: 100%;
}

.padd-120 {
  padding-left: 120px;
  padding-right: 120px;
}

.none-style {
  list-style: none;
  padding-left: 0;
}

.textwidget img {
  height: auto;
}

.btn {
  color: $white;
}

.btn-default {
  color: inherit;
}

.widget-service p {
  margin-bottom: 0;
}

.widget_calendar table,
.widget select {
  width: 100%;
}

.widget select {
  padding: 3px 5px;
}

.widget_calendar table td,
.widget_calendar table th {
  padding: 9px 6px;
  text-align: center;
  border: 1px solid #ddd;
}

.recentcomments > a {
  font-style: italic;
}

.attachment-post-thumbnail {
  height: auto;
}

.widget ul {
  list-style: none;
  padding-left: 0;
}

.widget ul ul {
  padding-left: 20px;
  text-align: left;
}

.widget_nav_menu ul {
  padding-left: 0;
  text-align: left;
}

input,
textarea {
  outline: none;
}

section.vc_row {
  margin: 0;
}

.post-password-form input[type="submit"] {
  padding: 3px 20px;
  background: #333;
  border: none;
  color: $white;
  text-transform: uppercase;
}

.post-password-form input[type="submit"]:hover {
  background: #ff7400;
}

body.theme-light,
body .section-light,
body .section-light-alt,
body .section-light-alt {
  color: #28384c;
  background: $white;
}

body.io-azure {
  background: #0d42b2;
}

body.io-azure .section-pro,
body.io-azure .section-pro-alt {
  color: #313c56;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table {
  margin: 0 0 18px;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.33;
  font-weight: 600;
  color: #373e45;
}

h1.color-secondary,
h2.color-secondary,
h3.color-secondary,
h4.color-secondary,
h5.color-secondary,
h6.color-secondary,
.h1.color-secondary,
.h2.color-secondary,
.h3.color-secondary,
.h4.color-secondary,
.h5.color-secondary,
.h6.color-secondary {
  color: #16a3fe;
}

h1.color-primary,
h2.color-primary,
h3.color-primary,
h4.color-primary,
h5.color-primary,
h6.color-primary,
.h1.color-primary,
.h2.color-primary,
.h3.color-primary,
.h4.color-primary,
.h5.color-primary,
.h6.color-primary {
  color: $hover-color;
}

h1 + .image:not([class*="mt-"]),
h2 + .image:not([class*="mt-"]),
h3 + .image:not([class*="mt-"]),
h4 + .image:not([class*="mt-"]),
h5 + .image:not([class*="mt-"]),
h6 + .image:not([class*="mt-"]),
.h1 + .image:not([class*="mt-"]),
.h2 + .image:not([class*="mt-"]),
.h3 + .image:not([class*="mt-"]),
.h4 + .image:not([class*="mt-"]),
.h5 + .image:not([class*="mt-"]),
.h6 + .image:not([class*="mt-"]) {
  margin-top: 20px;
}

.theme-light h1,
.theme-light h2,
.theme-light h3,
.theme-light h4,
.theme-light h5,
.theme-light h6,
.theme-light .h1,
.theme-light .h2,
.theme-light .h3,
.theme-light .h4,
.theme-light .h5,
.theme-light .h6,
.section-light h1,
.section-light h2,
.section-light h3,
.section-light h4,
.section-light h5,
.section-light h6,
.section-light .h1,
.section-light .h2,
.section-light .h3,
.section-light .h4,
.section-light .h5,
.section-light .h6,
.section-light-alt h1,
.section-light-alt h2,
.section-light-alt h3,
.section-light-alt h4,
.section-light-alt h5,
.section-light-alt h6,
.section-light-alt .h1,
.section-light-alt .h2,
.section-light-alt .h3,
.section-light-alt .h4,
.section-light-alt .h5,
.section-light-alt .h6 {
  line-height: 1.33;
  font-weight: 500;
  color: #28384c;
}

.theme-light h1.color-secondary,
.theme-light h2.color-secondary,
.theme-light h3.color-secondary,
.theme-light h4.color-secondary,
.theme-light h5.color-secondary,
.theme-light h6.color-secondary,
.theme-light .h1.color-secondary,
.theme-light .h2.color-secondary,
.theme-light .h3.color-secondary,
.theme-light .h4.color-secondary,
.theme-light .h5.color-secondary,
.theme-light .h6.color-secondary,
.section-light h1.color-secondary,
.section-light h2.color-secondary,
.section-light h3.color-secondary,
.section-light h4.color-secondary,
.section-light h5.color-secondary,
.section-light h6.color-secondary,
.section-light .h1.color-secondary,
.section-light .h2.color-secondary,
.section-light .h3.color-secondary,
.section-light .h4.color-secondary,
.section-light .h5.color-secondary,
.section-light .h6.color-secondary,
.section-light-alt h1.color-secondary,
.section-light-alt h2.color-secondary,
.section-light-alt h3.color-secondary,
.section-light-alt h4.color-secondary,
.section-light-alt h5.color-secondary,
.section-light-alt h6.color-secondary,
.section-light-alt .h1.color-secondary,
.section-light-alt .h2.color-secondary,
.section-light-alt .h3.color-secondary,
.section-light-alt .h4.color-secondary,
.section-light-alt .h5.color-secondary,
.section-light-alt .h6.color-secondary {
  color: #16a3fe;
}

.theme-light h1.color-primary,
.theme-light h2.color-primary,
.theme-light h3.color-primary,
.theme-light h4.color-primary,
.theme-light h5.color-primary,
.theme-light h6.color-primary,
.theme-light .h1.color-primary,
.theme-light .h2.color-primary,
.theme-light .h3.color-primary,
.theme-light .h4.color-primary,
.theme-light .h5.color-primary,
.theme-light .h6.color-primary,
.section-light h1.color-primary,
.section-light h2.color-primary,
.section-light h3.color-primary,
.section-light h4.color-primary,
.section-light h5.color-primary,
.section-light h6.color-primary,
.section-light .h1.color-primary,
.section-light .h2.color-primary,
.section-light .h3.color-primary,
.section-light .h4.color-primary,
.section-light .h5.color-primary,
.section-light .h6.color-primary,
.section-light-alt h1.color-primary,
.section-light-alt h2.color-primary,
.section-light-alt h3.color-primary,
.section-light-alt h4.color-primary,
.section-light-alt h5.color-primary,
.section-light-alt h6.color-primary,
.section-light-alt .h1.color-primary,
.section-light-alt .h2.color-primary,
.section-light-alt .h3.color-primary,
.section-light-alt .h4.color-primary,
.section-light-alt .h5.color-primary,
.section-light-alt .h6.color-primary {
  color: $hover-color;
}

.theme-light h1 + .image:not([class*="mt-"]),
.theme-light h2 + .image:not([class*="mt-"]),
.theme-light h3 + .image:not([class*="mt-"]),
.theme-light h4 + .image:not([class*="mt-"]),
.theme-light h5 + .image:not([class*="mt-"]),
.theme-light h6 + .image:not([class*="mt-"]),
.theme-light .h1 + .image:not([class*="mt-"]),
.theme-light .h2 + .image:not([class*="mt-"]),
.theme-light .h3 + .image:not([class*="mt-"]),
.theme-light .h4 + .image:not([class*="mt-"]),
.theme-light .h5 + .image:not([class*="mt-"]),
.theme-light .h6 + .image:not([class*="mt-"]),
.section-light h1 + .image:not([class*="mt-"]),
.section-light h2 + .image:not([class*="mt-"]),
.section-light h3 + .image:not([class*="mt-"]),
.section-light h4 + .image:not([class*="mt-"]),
.section-light h5 + .image:not([class*="mt-"]),
.section-light h6 + .image:not([class*="mt-"]),
.section-light .h1 + .image:not([class*="mt-"]),
.section-light .h2 + .image:not([class*="mt-"]),
.section-light .h3 + .image:not([class*="mt-"]),
.section-light .h4 + .image:not([class*="mt-"]),
.section-light .h5 + .image:not([class*="mt-"]),
.section-light .h6 + .image:not([class*="mt-"]),
.section-light-alt h1 + .image:not([class*="mt-"]),
.section-light-alt h2 + .image:not([class*="mt-"]),
.section-light-alt h3 + .image:not([class*="mt-"]),
.section-light-alt h4 + .image:not([class*="mt-"]),
.section-light-alt h5 + .image:not([class*="mt-"]),
.section-light-alt h6 + .image:not([class*="mt-"]),
.section-light-alt .h1 + .image:not([class*="mt-"]),
.section-light-alt .h2 + .image:not([class*="mt-"]),
.section-light-alt .h3 + .image:not([class*="mt-"]),
.section-light-alt .h4 + .image:not([class*="mt-"]),
.section-light-alt .h5 + .image:not([class*="mt-"]),
.section-light-alt .h6 + .image:not([class*="mt-"]) {
  margin-top: 20px;
}

.io-azure .section-pro h1,
.io-azure .section-pro h2,
.io-azure .section-pro h3,
.io-azure .section-pro h4,
.io-azure .section-pro h5,
.io-azure .section-pro h6,
.io-azure .section-pro blockquote,
.io-azure .section-pro-alt h1,
.io-azure .section-pro-alt h2,
.io-azure .section-pro-alt h3,
.io-azure .section-pro-alt h4,
.io-azure .section-pro-alt h5,
.io-azure .section-pro-alt h6,
.io-azure .section-pro-alt blockquote {
  color: $light-blue;
}

h1,
.h1 {
  font-size: 2.93em;
}

h2,
.h2 {
  font-size: 2.3em;
}

h3,
.h3 {
  font-size: 1.87em;
}

h4,
.h4 {
  font-size: 1.6em;
}

h5,
.h5 {
  font-size: 1.33em;
}

h6,
.h6 {
  font-size: 1.07em;
}

p {
  font-size: 1em;
}

h1.color-secondary,
h2.color-secondary,
h3.color-secondary,
h4.color-secondary,
h5.color-secondary,
h6.color-secondary,
.h1.color-secondary,
.h2.color-secondary,
.h3.color-secondary,
.h4.color-secondary,
.h5.color-secondary,
.h6.color-secondary,
p.color-secondary {
  color: #16a3fe;
}

h1.color-primary,
h2.color-primary,
h3.color-primary,
h4.color-primary,
h5.color-primary,
h6.color-primary,
.h1.color-primary,
.h2.color-primary,
.h3.color-primary,
.h4.color-primary,
.h5.color-primary,
.h6.color-primary,
p.color-primary {
  color: $hover-color;
}

h1.color-alt-primary,
h2.color-alt-primary,
h3.color-alt-primary,
h4.color-alt-primary,
h5.color-alt-primary,
h6.color-alt-primary,
.h1.color-alt-primary,
.h2.color-alt-primary,
.h3.color-alt-primary,
.h4.color-alt-primary,
.h5.color-alt-primary,
.h6.color-alt-primary,
p.color-alt-primary {
  color: #16a3fe;
}

p.lead {
  font-size: 1.27em;
  line-height: 1.68;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
  color: $hover-color;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

ul li,
ol li {
  list-style: none;
}

.lead {
  line-height: 1.6;
}

.relative {
  position: relative;
}

.lh-x1 {
  line-height: 1;
}

.lh-x2 {
  line-height: 1.5;
}

.lh-x3 {
  line-height: 2;
}

blockquote {
  font-size: 1em;
  line-height: 1.625;
  margin: 30px 0;
  border: none;
  color: #3c3c3c;
}

blockquote:first-child {
  margin-top: 0;
}

blockquote:last-child {
  margin-bottom: 0;
}

blockquote p:last-child strong {
  color: $hover-color;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h4,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h4,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h4,
table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
table + h4 {
  margin-top: 35px;
}

ul + p,
ul + ul,
ul + ol,
ol + ol,
ol + ul,
ul + table,
ol + table {
  margin-top: 35px;
}

b,
strong {
  font-weight: 600;
}

a {
  outline: 0;
  transition: all 0.5s;
  color: $hover-color;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  outline: 0;
  color: #16a3fe;
}

/*
Theme Name: ICOs
Theme URI: http://wpdemo.oceanthemes.net/icos
Author: OceanThemes
Author URI: http://oceanthemes.net/
Description: Introducing icos the best premium website template for ICO Agencies and Cryptocurrency Investments company.. ICOs is easy to use, it provides everything you need to create great looking website. With ICOs you can impress your customer by itâ€™s professional design and the interactivity. ICOs built with latest website technology to ensure your website is looks nice on desktop and mobile. Get ICOs now!
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: icos
Domain Path: /languages
Tags: one-column, two-columns, right-sidebar,  custom-header, custom-menu, editor-style, featured-images, microformats, post-formats,  sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Redux Theme is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*------------------------------------------------------------------
/*!

/*!
 * Table of Contents
 * 01.0 - Fonts
 * 02.0 - Reset
 * 03.0 - Utility
 * 04.0 - Common
 * 05.0 - Buttons
 * 06.0 - Header Section
 * 07.0 - Features Section
 * 08.0 - Token Section
 * 09.0 - Roadmap Section
 * 10.0 - Team Section
 * 11.0 - Partner Section
 * 12.0 - FAQ Section
 * 13.0 - Contact Section
 * 14.0 - Footer Section
 * 15.0 - Animation CSS
 * 16.0 - Overrides Style
 */

/* #RESET CSS */
/* Text meant only for screen readers. */
img {
  max-width: 100%;
  height: auto;
}

.btn {
  color: $white;
  margin: 0;
}

.widget ul {
  list-style: none;
  padding-left: 0;
}

input,
textarea {
  outline: none;
}

/** IMPORTANT NOTE: DO NOT Edit this file.  Best to write own code in css/theme.css file.  */
/** 02.0 - RESET & DEFAULT */

body {
  font-family: "Poppins", sans-serif;
  color: #3c3c3c;
  font-size: 15px;
  line-height: 1.86;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #0b0c22;
  color: $white;
  .section-light {
    color: #28384c;
    background: $white;
  }
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 0 18px;
}

h2:last-child,
h4:last-child,
h6:last-child,
p:last-child,
ul:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.33;
  font-weight: 600;
  color: #373e45;
}

.section-light {
  h2,
  h5,
  h6 {
    line-height: 1.33;
    font-weight: 500;
    color: #28384c;
  }
}

h1 {
  font-size: 2.93em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.87em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.33em;
}

h6 {
  font-size: 1.07em;
}

p {
  font-size: 1em;
  &.lead {
    font-size: 1.27em;
    line-height: 1.68;
  }
}

h4 span {
  color: $hover-color;
}

ul {
  padding: 0px;
  margin: 0px;
  li {
    list-style: none;
  }
}

.lead {
  line-height: 1.6;
}

ul + ul {
  margin-top: 35px;
}

strong {
  font-weight: 600;
}

a {
  outline: 0;
  transition: all 0.5s;
  color: $hover-color;
  &:link,
  &:visited {
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    color: #16a3fe;
  }
}

.section-bg {
  background: #10122d;
}

.section-bg-dark {
  background-color: #08091b;
}

.section-pro,
.section-light {
  padding-top: 150px;
  background: $white !important;
}

.section-gradiant {
  background-image: -webkit-linear-gradient(top left, #290075 0%, #086ddf 100%);
  background-image: -o-linear-gradient(top left, #290075 0%, #086ddf 100%);
  background-image: linear-gradient(to bottom right, #290075 0%, #086ddf 100%);
  &:after {
    opacity: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
  }
  .container {
    max-width: 720px;
  }
  h2 {
    font-size: 2em;
  }
  .res-m-btm {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
  h1 {
    font-size: 2.1em;
  }
}

@media only screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1em;
  }
}

/** 03.0 - UTILITY */

img {
  outline: 0;
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.section-pad {
  padding-top: 120px;
  padding-bottom: 80px;
}

.section-pad-sm {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-pad-md {
  padding-top: 112.5px;
  padding-bottom: 112.5px;
}

.image {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.gaps {
  clear: both;
  height: 20px;
  display: block;
  margin: 0;
  &.size-2x {
    height: 40px;
  }
  &.size-3x {
    height: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .section-pad {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .section-pad-sm {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .section-pad-md {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 1200px) {
  .section-pad {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media only screen and (max-width: 991px) {
  .section-pad {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .res-m-bttm {
    margin-bottom: 30px;
  }
  .res-m-bttm-lg {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .section-pad {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/** 04.0 - COMMON */

.section-head-s2 {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    left: 50%;
    height: 1px;
    width: 110px;
    content: "";
    transform: rotate(-45deg);
    z-index: 1;
    opacity: 0.4;
  }
  &:before {
    top: 60px;
    margin-left: -80px;
    background: $hover-color;
  }
  &:after {
    top: 5px;
    margin-left: -50px;
    background: #7ab9ff;
  }
  .heading-xs {
    position: relative;
    text-transform: uppercase;
    color: #7ab9ff;
    letter-spacing: 0.2em;
    z-index: 2;
  }
  .section-title {
    position: relative;
    margin-bottom: 25px;
    z-index: 2;
    font-size: 2.4em;
    letter-spacing: -0.01em;
  }
}

.section-title-sm {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.sub-heading {
  text-align: center;
  color: #8284a5;
}

@media only screen and (max-width: 480px) {
  .section-head-s2 {
    padding-bottom: 40px;
    &:before,
    &:after {
      width: 80px;
    }
    &:before {
      top: 50px;
      margin-left: -50px;
    }
    &:after {
      margin-left: -30px;
    }
    .section-title {
      font-size: 1.4em;
    }
  }
}

@media only screen and (max-width: 1280px) {
  /* parallax disable on ipad/iphone */
}

@media only screen and (max-width: 1199px) {
  .mtop-md {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .res-m-bttm {
    margin-bottom: 30px;
  }
  .res-m-bttm-lg {
    margin-bottom: 45px;
  }
  .res-m-top-lg {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tab-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-left {
    text-align: left !important;
  }
  .mobile-center {
    text-align: center !important;
  }
  body {
    min-width: 300px;
  }
}
