@import "variables";
@import "general-settings";

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.86;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $white;
  background: #0b0c22;
}
