$font-light: 300;
$font-regular: 500;
$font-bold: 700;
$font-dark: 900;

$white:#fff;
$light-blue: #1641b5;
$text-color: #637097;
$hover-color: #41faa4;
$dark-blue: #0b3795;
$aqua: #16a4fd;
$font-size-sm: 12px;
$font-size-md: 1.33em;
$font-size-lg: 2.4em;
$font-size-xl: 2.93em;

$main-font: 'Poppins', sans-serif;

