<div class="topnav" [class.stikey-top]="isActive" id="myTopnav">
  <div class="topnav-item">
    <a href="#home" class="active"><img [src]="logo" alt=""></a>
  </div>

  <div class="topnav-item">
    <a href="#news">what is bitwins?</a>
    <a href="#contact">quick facts</a>
    <a href="#about">faqs</a>
    <a href="#contact">contact</a>
  </div>

  <div class="topnav-item">
    <a href="#" class="topnav-btn"><span>play now!</span></a>
    <a href="#" class="topnav-btn"><span>how it works</span></a>
  </div>

</div>
