/* You can add global styles to this file, and also import other style files */
@import "./styles/main";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/theming';


@include mat-core();
  textarea.mat-input-element {
      border-bottom: 1px solid #41faa4;
      color: #3c3c3c;
  }
  .text-area {
      height: 120px;
  }

  .mat-form-field {
    color: #7ab9ff;
  }